# add this file to ~/.local/share/applications
# change path locations as required

[Desktop Entry]
Version=2020
Type=Application
Terminal=false
Icon=/opt/ideaIU-2020.1.3/idea-IU-201.8538.31/bin/idea.png
Exec=/opt/ideaIU-2020.1.3/idea-IU-201.8538.31/bin/idea.sh
Name=IntelliJ
